<launch>
  <arg name="pcap_path" default="" doc="pcap path"/>
  <arg name="replay" default="false" doc="do not connect to a sensor; expect /os_node/{lidar,imu}_packets from replay"/>
<arg name="metadata" default="" doc="path to read or write metadata file when replaying or receiving sensor data, respectively"/>
<include file="$(find ouster_ros)/ouster.launch" pass_all_args="true" /> 
 <node pkg="ouster_ros" name="pcap_pub_node" type="pcap_pub_node.py" output="screen">
  <param name ="~/meta_path" value="$(arg metadata)"/>
  <param name ="~/pcap_path" value="$(arg pcap_path)"/>
  </node>

  <node pkg="rosbag" type="record" output="screen" name="rosbag_record_pcap"
       args="record -o /tmp/pcap /os_cloud_node/points /os_cloud_node/imu"/>

</launch>


